{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'PagInicial/style.css' %}">
    <title>Início Questionário</title>
</head>
<body>
    <main class="container-principal">
    <header class="cabecalho">
        <h1 class="boas-vindas">Bem-vindo(a)</h1>

        <nav class="barra-nav">
            <a href="{% url 'PaginaSobre' %}" class="nav-link">O Questionário</a>
            <a href="{% url 'PaginaEquipe' %}" class="nav-link">Nossa Equipe</a>
            <a href="{% url 'PaginaIFRN' %}" class="nav-link">O IFRN</a>
        </nav>
    </header>

    <section class="conteudo-principal">
        <p class="descricao">
            Sua opinião é fundamental para compreendermos o aprendizado e a jogabilidade.
        </p>

        <a href="{% url 'PaginaLogin' %}" class="btn-iniciar">
            Iniciar Questionário
        </a>
    </section>
</main>

    <!-- Para possíveis futuros usos de arquivos JavaScript ou imagens -->
    <!-- <script src="{% static 'app_FormularioFunQ/js/script.js' %}"></script> -->
    <!-- <img src="{% static 'app_FormularioFunQ/img/logo.png' %}" alt="Logo do Projeto"> -->
</body>
</html>